body {
  background-color: #fffffd;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.main, .title {
  display: flex;
  flex-direction: row;
  text-align: center;
}


.h1{
  text-align: center;
}


.title img {
  height: 20rem;
  width: 25rem;
  margin: -50px;
}

.main div {
  margin: 0px 10px 0px 10px;
}

.news-home {
  flex-basis: 70rem;
}

.weather-home {
  flex-basis: 70rem;
}

.city {
  flex-basis: 90rem;
}

a {
  text-decoration-line: none;
  color: inherit;
  margin: 4rem;
}

a.active {
  font-weight: bold;
}

img {
  max-height: 200px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

