body {
  background-color: #fffffd;
  color: #0a1520;
  font-family: 'Garamond', sans-serif;
}

.main, .title {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  background-color: rgb(120, 158, 115);
  border-radius: 1rem;
  flex-basis: 10%;

}

.nav button{
  display:block;
  text-decoration: none;
  padding: .01rem 1rem;
  border: none;
  text-align: center;
  background-color: rgb(120, 209, 155);
  cursor: pointer;
  align-self: center;
  border-radius: .5rem;
  font-size: large;
}

.title h1{
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}


.title img {
  height: 20rem;
  width: 25rem;
  margin: -50px;
}

.main div {
  margin: 0px 10px 0px 10px;
}

.news-home {
  flex-basis: 70rem;
  background-color: rgb(197, 255, 189);
  border-radius: 1rem;
}

.weather-home {
  flex-basis: 70rem;
  background-color: rgb(197, 255, 189);
  border-radius: 1rem;
}

.city {
  flex-basis: 90rem;
}

a {
  text-decoration-line: none;
  color: inherit;
  margin: 4rem;
}

a.active {
  font-weight: bold;
}

img {
  max-height: 200px;
  padding-right: 5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

